*,
::before,
::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #1e1e1e;
}

.container{
    display: flex;
    align-items: center;
    max-width: 992px;
    margin: auto;
    height: 100vh;
}


/* TOP NAVBAR */

header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px 10px;
}

header nav ul{
    list-style: none;
}

header nav ul li{
    display: inline-block;
}

.nav-btn{
    padding: 10px 25px;
    border-radius: 25px;
    background-color: #314663;
    border:  1px solid #1a2738;
    color: white;
    font-size: .8rem;
    transition: all .3s ease;
    margin-right: 10px;
}

.nav-btn:hover{
    cursor: pointer;
    background-color: #495f7c;
}

.nav-btn i{
    margin-right: 5px;
}

/* CAROUSEL */

.carousel{
    display: flex;
    width: 100%;
    height: 500px;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.34);
}


.carousel .carousel-stack{
    width: 70%;
    height: 100%;
}

.carousel .carousel-control{
    position: relative;
    width: 30%;
    height: 100%;
    overflow-y: hidden;
}

.carousel-control .carousel-thumbnails{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.thumbnail-wrapper{
    position: relative;
    width: 100%;
    height: calc(100% / 5);
    overflow: hidden;
}

.thumbnail-wrapper:hover{
    cursor: pointer;
}

.thumbnail-overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    /* background-color: rgba(0, 0, 0, .4); */
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%,  rgba(0,0,0,.6) 20%, rgba(0,0,0,0) 100%);
    z-index: 998;
}

.thumbnail{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumbnail-wrapper.current{
    background-color: transparent;
    border: 2px solid white;
}

.thumbnail-wrapper img{
    transform: scale(1.2);
    transition: all .2s ease;
    z-index: 800;
}

.thumbnail-wrapper.current img{
    transform: scale(1);
}

.thumbnail-wrapper.current .thumbnail-overlay{
    background-color: transparent;
}

.slide{
    position: relative;
    height: 100%;
    display: none;
}

.slide .slide-caption{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    padding: 50px;
    color: white;
    text-align: right;
    text-shadow: 2px 2px black;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%,  rgba(0,0,0,.6) 20%, rgba(0,0,0,0) 100%);
}

.slide-caption h2{
    margin-bottom: 10px;
    animation: textIn .8s ease;
}

.slide-caption p{
    animation: textIn 1.2s ease;
}

img.carousel-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide.current{
    display: block;
}

.carousel-button{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    transition: all .3s ease;
    background-color: white;
    z-index: 999;
}

.carousel-button i{
    transition: all .2s ease;
}

.carousel-button:hover{
    background-color: #e7e7e7;
    cursor: pointer;
}

#btnPrev{top: 10px;}

#btnPrev.hide{display: none;}

#btnPrev:hover i{
    margin-bottom: 10px;
}

#btnNext{bottom: 10px;}

#btnNext.hide{display: none;}

#btnNext:hover i{
    margin-top: 10px;
}

@keyframes textIn {
    0%{
        opacity: 0;
        transform: translateY(10px);
    }

    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}